[submodule "omnihogar-frontend"]
	path = omnihogar-frontend
	url = git@github.com:JaaysCode/omnihogar-frontend.git
[submodule "omnihogar-backend"]
	path = omnihogar-backend
	url = git@github.com:JaaysCode/omnihogar-backend.git
